{% load static %}
{% comment %}
<link rel="stylesheet" href="{% static " css/nav.css" %}"> {% endcomment %}

{% block nav %}


<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">E-prestation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position:relative;top:13px">
      <ul class="navbar-nav mr-auto">        
        <div class="row">
        <form class="d-flex">
          <div class="col-xs-12" style="width:330px">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <div class="row"><div class="col-xs-2 align-content-center">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </form>

      </ul>
      {% include 'connexion/index.html' %}

    </div>
  </nav>

</div>


<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Categories</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>  
        </li>
        {% for categories in categories %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'categorie_service' categories.id %}"
            style="text-decoration:none">{{categories.nom}}</a>
          {% endfor %}
        </li>
      </ul>
   
    </div>
  </nav>
</div>
{% endblock %}