{% load static %}
<link rel="stylesheet" href="{% static "css/nav.css" %}">

{% block nav %}
   <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">E-Prestation</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <ul class="navbar-nav nav">
            <li class="nav-item">
             {% if request.user.is_authenticated  %}
             <button type="button" class="btn btn-light">
              <a class="nav-link " href="{% url 'mon_profile' user.id %}">
                  Profile!!!!             
              </a> 
            

          </button>
                <button type="button" class="btn">
                    <a class="nav-link " href="{% url 'view_service' user.id %}">
                         Mes services 
                     </a>
                </button>
                <button type="button" class="btn">
                  <a class="nav-link " href="{% url 'mon_adresse' user.id %}">
                      Mon Adresse 
                  </a>
              </button>
                {% else %}
                <button type="button" class="btn btn-light">
                  <a class="nav-link " href="{% url 'createPrestataires' %}">
                        Devenez prestataire/Proposez votre service!!!!
                  </a> 
              </button>
                {% endif %}
            </li>
          </ul>
          {% include 'connection/index.html'%}

        </div>
      </nav>


      <nav class="navbar categorie fixed-top navbar-expand-lg    " style="position:relative;top:-17.5px;">
        <h4 style="color:white">Categorie</h4>

        <div class="container-fluid">
          <h4 ><a href="{% url 'home' %}" style="color:white">Home</a></h4>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% for categories in categories %}
            <ul class="navbar-nav me-auto mb-1 mb-lg-0 ">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="{% url 'categorie_service' categories.id %}" style="text-decoration:none">{{categories.nom}}</a>
              </li>
             {%endfor %} 
             
            </ul>
          </div>

        </div>
      </nav>


      {% endblock %}
