{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">


  <div class="card" style="width: 58rem;">

    {% for prestataires in prestataires %}
    <div>
      <img src="{{prestataires.image.url }}" class="img-circle img" alt="image prestataire">
      {% if services.author == user %}
      <div style="position:relative;left:147px;top:-73px">
        <i class="fas fa-circle" style="color:green;"></i>
        <small class="text-muted">Online&#10073;</small>

      </div>
      {% endif%}
      <div style="position:relative;left:219px;top:-99px;">
        <h4 class="card-title" style="display:inline-block">{{services.titreConcert}}</h4>
        <div class="rating-star" style="display:inline-block">
          <span>
            <i class="fa fa-star{% if services.averageReview < 0.5 %}-o{% elif services.averageReview >= 0.5 and services.averageReview < 1 %}-half-o {% endif %}"
              aria-hidden="true"></i>
            <i class="fa fa-star{% if services.averageReview < 1.5 %}-o{% elif services.averageReview >= 1.5 and services.averageReview < 2 %}-half-o {% endif %}"
              aria-hidden="true"></i>
            <i class="fa fa-star{% if services.averageReview < 2.5 %}-o{% elif services.averageReview >= 2.5 and services.averageReview < 3 %}-half-o {% endif %}"
              aria-hidden="true"></i>
            <i class="fa fa-star{% if services.averageReview < 3.5 %}-o{% elif services.averageReview >= 3.5 and services.averageReview < 4 %}-half-o {% endif %}"
              aria-hidden="true"></i>
            <i class="fa fa-star{% if services.averageReview < 4.5 %}-o{% elif services.averageReview >= 4.5 and services.averageReview < 5 %}-half-o {% endif %}"
              aria-hidden="true"></i>
            <span>{{services.countReview}} reviews</span>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div><br>

  <div class="card mb-3" style="max-width: 900px;position:relative;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{{ services.image.url }}" class="img-fluid image_service rounded-start" alt=" Image de votre service"
          style="height:290px;width:500px;position:relative;top:3px">

      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
          <h4> <strong>A propos de ce service</strong></h4>
          <p class="card-text">Mollit aliqua commodo nulla ex. Tempor labore consectetur deserunt officia sit quis ad
            voluptate adipisicing aute in duis. Elit ad reprehenderit amet exercitation do laboris exercitation elit
            incididunt est exercitation aute. Ipsum laboris anim occaecat nulla non voluptate do laborum. Nulla mollit
            cillum ex ullamco dolor non aute proident aliqua dolore. Deserunt ipsum non et in ad culpa nisi cupidatat.
            Aliquip tempor ea excepteur labore irure ad excepteur in amet pariatur labore amet eiusmod. Proident dolore
            deserunt quis nostrud tempor non enim do velit minim duis qui. Cillum nostrud esse magna dolor excepteur eu
            sit consectetur enim et ut.</p>

          </p>
        </div>
      </div>
    </div>
  </div>
  <ul class="thumb">
    <li>
      {% for i in service_gallery %}
      <a href="#"><img src="{{i.image.url}}" alt="Service Image" style="height:200px;width:200px"></a>
      {% endfor %}
    </li>
  </ul>

</div><br><br>
<div class="row">
  <div class="col-md-9">
    <form action="{% url 'submit_review' services.id %}" method="POST" style="position:relative;left:10px">
      {% csrf_token %}
      <h5>Write Your Review</h5>

      <div>
        <!-- Rating stars -->
        <label>How do you rate this product?</label>
        <br>
        <div class="rate">
          <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
          <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5"
            class="half"></label>
          <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
          <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5"
            class="half"></label>
          <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
          <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5"
            class="half"></label>
          <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
          <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5"
            class="half"></label>
          <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
          <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5"
            class="half"></label>
        </div>
        <br>

        Review:
        <textarea name="review" rows="5" class="form-control" style="width:500px"></textarea>
        <br>
        {% if user.is_authenticated %}
        <input type="submit" value="Submit Review" class="btn btn-primary">
        <p>You must purchase this product to post a review.</p>
        {% else %}
        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
        {% endif %}

      </div>
      {% include 'includes/alerts.html' %}
    </form>
    <br>
    <header class="section-heading" style="position:relative;left:10px">

      <div>
        {% if reviews_default%}

        <h3 style="display:inline-block">Customer Reviews </h3>
        <button type="button" class="btn btn-link" style="display:inline-block;text-decoration:none;">
          <strong style="color:#24c177" onclick="toggleAvis()">
            Voir tous les avis
          </strong>
        </button>
      </div>

    </header>
    <article class=" mb-2" style="width:500px;position:relative;left:23px" id="f_avis">
      <div class="icontext w-100">
        <div class="text">
          <div id="cercle" style="width:40px;height:40px;border-radius:40px;background:#add7e9;display:inline-block">
            <div style="color:white;position:relative;top:-10px;left:10px">
              <h3>{{reviews_default.user|make_list|slice:":1"|join:','|capfirst}}</h3>
            </div>
          </div>
          <span class="date text-muted float-md-right"
            style="position:absolute;top:27.9px;left:200px">{{reviews_default.updated_at}}</span>
          <div style="position:relative;top:-51px;left:49px">
            <h4 class="mb-1" style="display:inline-block">{{reviews_default.user|capfirst}} </h4>
            <div class="rating-star">
              <span>
                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <strong style="color:gold">{{review.rating}}</strong>
              </span>
            </div>
          </div>
        </div>
      </div> <!-- icontext.// -->
      <div class="mt-0" style="position:relative;left:47px;top:-20px;">
        <h6>{{reviews_default.subject}}</h6>
        <p>
          {{reviews_default.review}}
        </p>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-left:-45px">
      </div>
    </article>
    {% endif %}

    <!--seeall block-->
    <article class=" mb-2" style="width:500px;position:relative;left:19px;display:none" id="autres_avis">
      {% for review in reviews %}

      {% if not forloop.first %}
      <div class="icontext w-100">
        <div class="text">
          <div id="cercle" style="width:40px;height:40px;border-radius:40px;background:#add7e9;display:inline-block">
            <div style="color:white;position:relative;top:-10px;left:10px">
              <h3>{{review.user|make_list|slice:":1"|join:','|capfirst}}</h3>
            </div>
          </div>
          <span class="date text-muted float-md-right"
            style="position:relative;top:27.9px;left:-170px">{{review.updated_at}}</span>
          <div style="position:relative;top:-51px;left:49px">
            <h4 class="mb-1" style="display:inline-block">{{review.user|capfirst}} </h4>

            <div class="rating-star">
              <span>
                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                  aria-hidden="true"></i>
                <strong style="color:gold">{{review.rating}}</strong>
              </span>
            </div>
          </div>
        </div>
      </div> <!-- icontext.// -->
      <div class="mt-0" style="position:relative;left:47px;top:-20px;">
        <h6>{{review.subject}}</h6>
        <p>
          {{review.review}}
        </p>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-left:-45px">
      </div>
      {% endif %}
      {% endfor %}
    </article>
    <!--enblock seeall-->



  </div> <!-- col.// -->
</div>
</div>
<div class="card" style="width:58rem;position:relative;left:35px">

  {% for prestataires in prestataires %}
  <div>
    <img src="{{prestataires.image.url }}" class="img-circle img" alt="image prestataire">
    {% if services.author == user %}
    <div style="position:relative;left:147px;top:-73px">
      <i class="fas fa-circle" style="color:green;"></i>
      <small class="text-muted">Online&#10073;</small>

    </div>
    {% endif%}
    <div style="position:absolute;left:219px;top:11px;">
      <h4 class="card-title" style="display:inline-block">{{services.titreConcert}}</h4>
      <br>
      <div class="rating-star" style="display:inline-block">
        <span>
          <i class="fa fa-star{% if services.averageReview < 0.5 %}-o{% elif services.averageReview >= 0.5 and services.averageReview < 1 %}-half-o {% endif %}"
            aria-hidden="true"></i>
          <i class="fa fa-star{% if services.averageReview < 1.5 %}-o{% elif services.averageReview >= 1.5 and services.averageReview < 2 %}-half-o {% endif %}"
            aria-hidden="true"></i>
          <i class="fa fa-star{% if services.averageReview < 2.5 %}-o{% elif services.averageReview >= 2.5 and services.averageReview < 3 %}-half-o {% endif %}"
            aria-hidden="true"></i>
          <i class="fa fa-star{% if services.averageReview < 3.5 %}-o{% elif services.averageReview >= 3.5 and services.averageReview < 4 %}-half-o {% endif %}"
            aria-hidden="true"></i>
          <i class="fa fa-star{% if services.averageReview < 4.5 %}-o{% elif services.averageReview >= 4.5 and services.averageReview < 5 %}-half-o {% endif %}"
            aria-hidden="true"></i>
          <span>{{services.countReview}} reviews</span>
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="position:absolute;left:300px;top:190px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              {% comment %} <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name"> {% endcomment %}
              img here
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="width:97px;align;position:relative;left:169px;top:-25px;border:1px solid #0d6efd;">Me contacter</button>
</div>

{% endblock%}