{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href={% static 'css/bootstrap.min.css'%}
<link rel="stylesheet" href="{% static "css/nav.css" %}">

{% include 'nav/navbar.html'%}

{% comment %} <nav class="navbar categorie fixed-top navbar-expand-lg    " style="position:relative;top:-17.5px;">
    <h4 style="color:white">Categorie</h4>

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% for categories in categories %}
<ul class="navbar-nav me-auto mb-1 mb-lg-0 ">
  <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="{% url 'categorie_service' categories.id %}" style="text-decoration:none">{{categories.nom}}</a>
  </li>
 {%endfor %} 
</ul>          
</div>
</div>
</nav> {% endcomment %}
 
{% block content %}
<div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-5">
        {% for services in services %}
        <div class="col">
          <div class="card h-100">
            <img src="{{services.image.url }}" class="card-img-top" alt="{{ services.image}}">
            <div class="card-body">
              <p class="card-text">{{services.titreConcert}}</p>
              <h5 class="card-title">{{services.tarif}}</h5>
              <a href={% url 'detail' services.id%} class="btn btn-primary">Voir plus</a>
            </div>
          </div>
        </div>  
        {% endfor %}
    </div>
  </div>
    
{% endblock %}